<body>

    <div class="container">
        <div class="weather-info-container h-100 align-items-center justify-content-center" id="weather-info-container">
            <div class="container text-center">
                <img src="https://www.jing.fm/clipimg/full/94-948219_mostly-cloudy.png" alt="weather icon" class="w-icon"> Weather App
            </div>
            <div class="weather-info text-center align-items-center justify-content-center" id="weather-info">
                <div class="arrow" routerLink="/">←</div>
                <div class="current-city-name" id="city-name">Colombo</div>
                <div class="current-city-time" id="city-time">9.19am, Feb 8</div>
                <div class="current-city-temp" id="city-temp">27 C</div>
                <div class="current-city-min-temp" id="city-min-temp">Temp Min : 25 C</div>
                <div class="current-city-max-temp" id="city-max-temp">Temp Max : 29 C</div>
                <div class="current-vertical-line"></div>
                <div><img src="http://openweathermap.org/img/wn/10d@2x.png" class="current-weather-icon" id="weather-icon" height="65px" width="65px"></div>
                <div class="current-weather-status" id="weather-status">Few Clouds</div>
                <div class="current-city-pressure" id="city-pressure">Pressure : 0000 hPa</div>
                <div class="current-city-humidity" id="city-humidity">Humidity :  00%</div>
                <div class="current-city-visibility" id="city-visibility">Visibility : 8.0km</div>
                <div class="current-vertical-line-one"></div>
                <div class="current-location-icon"><img src="/assets/images/direction-icon.png" height="30px" width="30px"></div>
                <div class="current-city-location" id="city-location">4.0m/s 120 Degree</div>
                <div class="current-vertical-line-two"></div>
                <div class="current-city-sunrise" id="city-sunrise">Sunrise : 6.05am</div>
                <div class="current-city-sunset" id="city-sunset">Sunset : 6.25pm</div>
            </div>        
        </div>  
    </div> 

</body>