body{
    background:url('https://c4.wallpaperflare.com/wallpaper/813/410/392/dark-cartoon-clouds-wallpaper-preview.jpg');
    background-repeat: repeat-y;
    background-size:cover;
    font-family: 'Poppins', sans-serif;
}

.container{
    color: aliceblue;
}

.w-icon{
    width: 35px;
    height: 30px;
}

.city-colombo{   
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img1.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;
}

.city-tokyo{
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img2.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;
}

.city-liverpool{
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img3.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;
}

.city-paris{
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img4.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;
}

.city-sydney{
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img5.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;
}

.city-boston{
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img6.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;
}

.city-shanghai{
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img7.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;

}

.city-oslo{
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    width: 350px;
    height: 190px;
    background-color: rgba(92,92,92,1);
    background-image: url('/assets/images/img8.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -145px;
    background-size:cover;
    overflow: hidden;
}

.city-name {
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
}

.city-time {
    position: absolute;
    margin-top: 42px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.city-temp {
    position: absolute;
    margin-top: 10px;
    margin-left: 235px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
}

.city-min-temp{
    position: absolute;
    margin-top: 42px;
    margin-left: 220px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.city-max-temp{
    position: absolute;
    margin-top: 62px;
    margin-left: 220px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.weather-icon{
    position: absolute;
    margin-top: 55px;
    margin-left: 20px;
}

.weather-status{
    position: absolute;
    margin-top: 65px;
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.city-pressure{
    position: absolute;
    margin-top: 115px;
    margin-left: -4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.city-humidity{
    position: absolute;
    margin-top: 135px;
    margin-left: -4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.city-visibility{
    position: absolute;
    margin-top: 155px;
    margin-left: -4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.vertical-line-one{
    border-left: 1px solid gray;
    height: 60px;
    position: absolute;
    margin-top: 115px;
    margin-left: 100px;
    
}

.location-icon{
    position: absolute;
    margin-top: 115px;
    margin-left: 150px;
}

.vertical-line-two{
    border-left: 1px solid gray;
    height: 60px;
    position: absolute;
    margin-top: 115px;
    margin-left: 225px;
}

.city-location{
    position: absolute;
    margin-top: 150px;
    margin-left: 118px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.city-sunrise{
    position: absolute;
    margin-top: 122px;
    margin-left: 240px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.city-sunset{
    position: absolute;
    margin-top: 147px;
    margin-left: 240px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
}

.weather-info-container{
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url('https://c4.wallpaperflare.com/wallpaper/813/410/392/dark-cartoon-clouds-wallpaper-preview.jpg');
    z-index: 9999; 
    background-repeat: repeat-y;
    background-size:cover;
}

.weather-info{
    background-color: rgba(92,92,92,1);
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    height: 320px;
    width: 550px;
    position: absolute;
    background-image:url('/assets/images/bg1.jpeg');
    background-repeat: no-repeat;
    background-position: 0px -115px;
    background-size:cover;
}
.arrow{
    position: absolute;
    margin-top: -20px;
    margin-left: -5px;
    cursor: pointer;
}

.weather-info .current-city-name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.weather-info .current-city-time{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

.weather-info .current-city-temp{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-left: 55%;
    margin-top: 8px;
}

.weather-info .current-city-min-temp{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin-left: 55%;
    margin-top: 0px;
}

.weather-info .current-city-max-temp{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin-left: 55%;
    margin-top: 0px;

}
.current-vertical-line{
    border-left: 1px solid white;
    height: 70px;
    position: relative;
    margin-top: -72px;
    margin-left: 50%;
    margin-right: 50%;

}

.weather-info .current-weather-icon{
    text-align: right;
    margin-right: 22%;
    margin-top: -130px;
}

.weather-info .current-weather-status{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    margin-right: 56%;
    margin-top: -50px;
}

.weather-info .current-city-pressure{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin-left: 10%;
    margin-top: 50px;
}

.weather-info .current-city-humidity{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;
}

.weather-info .current-city-visibility{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin-left: 10%;
    margin-top: 10px;

}

.weather-info .current-vertical-line-one{
    border-left: 1px solid white;
    height: 70px;
    position: relative;
    margin-top: -74px;
    margin-left: 36%;
}

.weather-info .current-location-icon{
    margin-top: -65px;
}

.weather-info .current-city-location{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

.weather-info .current-vertical-line-two{
    border-left: 1px solid white;
    height: 70px;
    position: relative;
    margin-top: -60px;
    margin-left: 65%;

}

.weather-info .current-city-sunrise{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    margin-right: 10%;
    margin-top: -60px;
}

.weather-info .current-city-sunset{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
    margin-right: 10%;
    margin-top: 10px;

}

.footer {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
}
  
.footer span {
    color: #0894d1;
}
